* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-nav {
    padding: 8px 1rem 5px 10rem;
    background-color: black;
    width: 100%;
    height: 3rem;
    position: relative;
    text-align: right;
}

.main-nav ul li {
    list-style: none;
    display: inline;
    color: white;
    margin-right: 2rem;
}

.main-nav ul li a {
    color: white;
}