/* FORM */

.login-container {
    width: 340px;
    margin: 50px auto;
    padding: 1rem;
    background-color: rgb(172, 248, 242);
    text-align: center;
    height: 500px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px 2px rgb(0, 65, 82);
    .ava {
        img {
            width: 160px;
            margin-bottom: 60px;
        }
    }
    .form {
        background-color: rgb(87, 150, 245);
        border-radius: 10px;
        ul {
            list-style: none;
            margin-bottom: 20px;
            li {
                padding-top: 20px;
                input {
                    height: 2.5rem;
                    width: 80%;
                    border-radius: 5px;
                    padding-left: .5rem;
                }
            }
        }
    }
    label {
        margin-left: 10%;
        float: left;
        font-size: 14px;
    }
    span {
        float: right;
        text-decoration: underline;
        font-size: 13px;
        margin-right: 10%;
        cursor: pointer;
    }
    .form input[type="submit"] {
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 40px;
        width: 40%;
        height: 2.2rem;
        font-size: 20px;
        cursor: pointer;
        transition: .3s;
        &:hover {
            background-color: rgb(240, 153, 122);
        }
    }
}